/* Phone 576px */
@media(max-width:576px){
    .top-nav{
        display: none;
    }
    .slider{
        display: flex;
        height: 500px;
        background-size: cover;
        background-position: 55% 10%;
    }
    .slider-content{
        height: 500px;
        font-size: flex;
        flex-direction: column;
        justify-content: center;
    }
    .slider-content h2{
        font-size: 25px;
    }
    .slider-content h5{
        font-size: 10px;
        font-weight: 500;
    }
}
/* Tablet 768px */
@media(max-width:768px){
    .container{
        margin: 0px 10px;
    }
}
/* Laptop 1200px */
@media(max-width:1200px){
    .container{
        margin: 0px 10px;
    }
}