/* Phone 576px */
@media(max-width:576px) {
    .top-nav .container {
        display: none !important;
    }

    .logo a {
        font-size: 20px;
    }

    .slider {
        display: flex;
        height: 500px;
        background-size: cover;
        background-position: 55% 10%;
    }

    .slider-content {
        height: 500px;
        font-size: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slider-content h2 {
        font-size: 25px;
    }

    .slider-content h5 {
        font-size: 10px;
        font-weight: 500;
    }

    .ultimer li {
        padding: 20px;
        width: 80px;
        height: 80px;
    }

    .timer-num {
        font-size: 20px;
    }

    .timer h3 {
        color: white;
    }

    .discount::before {
        background-color: #0e0d0d27;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100;
        right: 0;
    }

    .no-mobile {
        display: none;
    }

    .timer img {
        width: 70%;
        height: 60vh;
    }

    .discount {
        height: 60vh;
    }
}

/* Tablet 768px */
@media(max-width:999px) {
    .slider-content h2 {
        font-size: 35px;
    }

    .slider-content h5 {
        font-size: 20px;
        font-weight: 500;
    }

    .facility-group {
        flex-wrap: wrap;
        justify-content: center;
    }

    .facility-items {
        border: none;
    }

    .contact-items {
        flex-direction: column;
    }

    .contact-items {
        height: 25vh;
    }

    .footer-items {
        flex-direction: column;
        text-align: center;
        height: 40vh;
    }

    .footer-text {
        text-align: center;
        margin: 10px auto;
    }

}

/* !............Media querry For Header........... */
@media (max-width: 768px) {
    .navbar {
        height: 60px;
        position: fixed;
        z-index: 800000;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }