*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "codL";
    src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
    font-family: "cod";
    src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
    font-family: 'codB';
    src: url('../fonts/AvenirLTStd-Black.otf');
}
body{
    font-family: cod;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #1E1E27;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #FE4C50;
}
*::selection{ 
    background-color: #FE4C50;
    color: white;
}
div{
    display: block;
    box-sizing: border-box;
    position: relative;
}
a{
    text-decoration: none;
}
.flex{
    display: flex !important;
    width: 100%;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.container{
    width: 90%;
    margin: 0px auto;
}
/* *............incommen TITLE h3........... */
.title{
    font-size: 35px;
    margin: 50px 0px;
    text-align: center;
    position: relative;
}
.title::after{
    position: absolute;
    display: block;
    content: '';
    top:50px;
    left: 50%;
    background-color: #FE4C50;
    width: 100px;
    height: 6px;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
/* ...........topnav HEADER............ */
.top-nav{
    background-color: #1E1E27;
    width: 100%;
}
.top-nav-item{
    flex-direction: row-reverse;
    align-items: center;
    height: 50px;
    justify-content:space-between;

}
.top-nav-item a{
    color: #B5ACBA;
    font-weight: 400;
    font-family: codl;
    margin-left: 10px;
}
.top-nav-item h5{
    color: #B5ACBA;
    font-size: 13px;
}
/* !...........Header ............. */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    background: #fff;
    color: #000;
    height: 80px;
    z-index: 12;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  .menu-items {
    display: flex;
  }
  .menu-items li {
    list-style: none;
    margin-left: 15px;
    font-size: 14px;
  }
  .menu-items a {
    text-decoration: none;
    color: black;
    font-family: codl;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
  }
  
  .menu-items a:hover {
    color: #FE4C50;
    transition: color 0.5s ease-in-out;
  }
  .navbar-icon i{
    margin-left: 7px;
    font-size: 16px;
    transition: color .3s;
    cursor: pointer;
}
.navbar-icon i:hover{
    color: gray;
}
.logo{
    transition: transform .5s;
}
.logo a{
    color: black;
    font-family: codB;
    font-size: 22px;
}
.logo span{
    color: red;
    margin-left:-4px;
}
.logo:hover{
    transform: scale(1.1);
}
/* .........Slider main........... */
.slider{
    background-image: url('../images/xslider_1.jpg.pagespeed.ic.V9ovSIY03c.jpg');
    height: 40vw;
    background-position: 55% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-content{
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider-content h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}
.slider-content h2{
    font-size: 65px;
    font-weight: 500;
    font-family: cod;
    margin-bottom: 10px;
}
.slider-content button{
    width: 130px;
    background-color: #FE4C50;
    padding: 13px 20px;
    outline: 0;
    border: 0;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-family: cod;
    transition: all .5s;
    cursor: pointer;
}
.slider-content button:hover{
    background-color: #fe4c4fb7;
}
/* ................Category............. */
.category-items{
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}
.category-box{
    position: relative;
    display: block;
    margin: 15px;
    cursor: pointer;
}
.category-box img{
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.category-box img:hover{
    opacity: 0.3;
}
.category-box a{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    background-color: white;
    padding: 10px 20px;
    justify-self: center;
}
.category h2{
    font-size: 45px;
    font-weight: 500;
    font-family: cod;
    margin:30px 0px;
    text-align: center;
}
.category p{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-family: codl;
}
.btn-group{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    flex-wrap: wrap;
}
.btn-group button{
    border: 1px solid #EBEBEB;
    outline: 0;
    padding: 10px 28px;
    color:black ;
    background-color: white;
    border-radius: 3px;
    transition: all .5s;
    cursor: pointer;
}
.btn-group button:hover{
    background-color:#FE4C50 ;
    color: white;
}
/* .................Group card and shopping............... */
.group-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 93%;
    margin: 0px auto;
}
.shop-card{
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.075);
    cursor: pointer;
    margin: 15px 0px;
    border-radius: 3px;
}
.shop-card h4{
    margin: 10px 0px;
    font-family: cod;
}
.shop-card p{
    margin: 15px 0px;
    font-family: codb;
    color: #FE4C50;
}
.shop-card span{
    margin-left: 10px;
    background-color: #fe4c4f75;
    padding: 5px;
    text-decoration-line: line-through;
}
.shop-card button{
    width: 80%;
    margin: 10px 0px;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    background-color: #FE4C50;
    color: white;
    border-radius: 3px;
    transition: all .5s;
}
.shop-card:hover button{
    width: 100%;
}
.shop-card img{
    transition: transform .5s;
}
.shop-card:hover img{
    transform: scale(1.1);
}
/* ................Discount section Timer........... */
.discount{
    background-color: #F2F2F2;
    height: 80vh;
    margin: 50px 0px;
    position: relative;

}
.discount-content{
    display: flex;
    align-items: center;
    height: 100%;
}
.timer{
    margin: 20px auto;
    z-index: 1000;
}
.ultimer{
    display: flex;
    justify-content: right;
    z-index: 1000;
    flex-wrap: wrap;
}
.ultimer li{
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    list-style-type: none;
    margin-right: 10px;
    text-align: center;
    margin: 2;
    width: 120px;
    height: 120px;
    z-index: 1000;
}
.timer h3{
    font-size: 35px;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    z-index: 1000;
}
.timer h3::after{
    position: absolute;
    display: block;
    content: '';
    top:50px;
    left: 50%;
    background-color: #FE4C50;
    width: 100px;
    height: 6px;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.timer-num{
    font-size: 40px;
    font-family: codb;
    color: #FE4C50;
}
.timer img{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    height:80vh;
    z-index: 1;
}
/* .................facility section ...............*/
.facility{
    width: 85%;
    margin: 50px auto;
}
.facility-group{
    background-color:#F3F3F3 ;
    display: flex;
    justify-content: center;
}
.facility-items{
    display: flex;
    padding: 30px 5px;
    border: solid 1px white;
    width: 300px;
}
.items-icon{
    color: #FE4C50;
    font-size: 30px;
    margin: 3px 16px 3px 6px;
}
.items-content h4{
    font-size: 15px;
    margin-bottom: 5px;
    font-family: codb;
}
.items-content p{
    font-size: 13px;
    color: #ff4a53;
}
/* !.............Blog section............. */
.blog-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-img{
    position: relative;
    width: 350px;
    height: 255px;
    margin: 15px;
    cursor: pointer;
}
.blog-background{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.blog-content{
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background: rgba(255,255,255,.9);
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
    opacity: 0;
    transform-origin: center center;
    transition: all .6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.blog-img:hover .blog-content{
    visibility: visible !important;
    opacity: 1;
}
.blog-content h3{
    text-align: center;
    font-size: 25px;
}
.blog-content p {
    color: #51545f;
    font-size: 12px;
    margin: 10px 0px;
}
.blog-content a{
    color: #FE4C50;
    font-size: 16px;
}
/* .......contact form............ */
.contact{
    background-color: #F2F2F2;
    margin: 50px 0px;
}
.contact-items{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
}
.contact-text h3{
    font-size: 23px;
}
.contact-text p{
    color: #515972;
    font-size: 15px;
}
.contact-form-items input[type="text"]{
    padding: 15px 20px;
    outline: 0;
    border: none;
    background-color: white;
    width: 300px;
}
.contact-form-items input[type="button"]{
    padding: 15px 35px;
    background-color: #FE4C50;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.contact-form-items input[type="text"]:visited{
    border: 1px solid black;
}
/* ..........footer section......... */
.footer-items{
    display: flex;
    justify-content: space-around;
    height: 30vh;
    align-items: center;
}
.footer-text{
    width: 400px;
}
.footer-caption p{
    margin-top: 10px;
    font-family: codl;
    font-size: 16px; 
    color: #EBEBEB;
}
.footer-icon span{
    color: #FE4C50;
}
.footer-icon ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 20px;
    transition: all .6s;
    cursor: pointer;
    color: #EBEBEB;
}
.footer-icon ul li:hover{
    color: #FF4A52;
}
.footer-icon i {
    margin-bottom:30px ;
    margin-right: 50px;
    font-size: 18px;
    color: #515972;
    cursor: pointer;
    transition: all .7s;
}
.footer-icon i:hover{
    color: #FF4A52;
}
.footer-icon p{
    color: #EBEBEB;
}
.footer{
    background-color: #1E1E27;
}
.footer-logo a{
    color: white;
    font-family: codB;
    font-size: 22px;
}
.footer-logo span{
    color: red;
    margin-left:-4px;
}